<!--This is the homepage template-->
<!--Yann David | Last modified: 28.12-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- favicon -->
    <link rel="icon" href="../static/images/icone.svg">
    <!-- Webpage title -->
    {% block head %}
    <title>
        {% block title %}{% endblock %}EPC
    </title>
    {% endblock %}
    <meta name="viewport" content="width=device-width">

    <!-- Adding google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <!-- CSS link -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- JS homepage -->
    <script src="{{ url_for('static', filename = 'js/home.js') }}"></script>
</head>


<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div id = 'snackbar' class="snackbar alert-{{ category }}">
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Personal Presentation Part -->
    <div class="background">
        <div id="#header" class="presentation">
            <h1 class="site">
                <a class="site" href="{{ url_for('main.index') }}">
                    <img src="../static/images/icone.svg" class="icon" alt="icon"> 
                    ENVIRONMENTAL POLICIES COMPARATOR
                </a>
            </h1>

            <p class="subtitle">
                Easy access to environmental policies impact evaluations meta-analyses
            </p>
            <form class="selectPolicy" method="POST">
                {{ selection.hidden_tag() }}
                <span class="i">&#x1F6C8;
                    <span class="infoText fadeout general">Select a policy and a target to find the associated meta analysis</span>
                </span>
                <span class="itemSelect">The effect of </span>
                {% if selection.policy.errors %}
                {{ selection.policy(class="itemSelect selector")}}

                {% else %}
                {{ selection.policy(class="itemSelect selector")}}
                {% endif %}
                <span class="itemSelect"> on </span>
                {% if selection.target.errors %}
                {{ selection.target(class="itemSelect selector")}}

                {% else %}
                {{ selection.target(class="itemSelect selector")}}
                {% endif %}                
               
                

                {{ selection.submit(class="info") }}
            </form>
            
            <!-- Errors in the form appear beow search bar -->
            <div class="errorDiv">
                {% for error in selection.policy.errors %}
                <span class="infoText error">{{ error }}</span>
                {% endfor %}
                {% for error in selection.target.errors %}
                <span class="infoText error">{{ error }}</span>
                {% endfor %}
            </div>
          
            <p class>
            </p>
            <ul class="networkLinks">
        
                <li><a href="{{ url_for('main.methodology') }}">How does it work?</a></li>
        
                <li><a href="{{ url_for('main.project') }}">Discover the project</a></li>
            </ul>
            
        </div>
    </div>
    {% block content %}
    {% endblock %}
 
     <script>
        //  let policy_select = document.getElementById('policy');
        //  let target_select = document.getElementById('target');
        //  let reset = document.getElementById('remove');

        //  function new_option(option) {
        //      return '<option value="' + option + '">' + option + '</option>';
        //  }
        //  function change_target() {
        //         policy = policy_select.value;
        //         fetch('/target/' + policy).then(function (response) {
        //             response.json().then(function (data) {
        //                 let optionHTML = '';
        //                 for (let target of data.targets) {
        //                     optionHTML += new_option(target);
        //                 }

        //                 target_select.innerHTML = optionHTML;
        //             })
        //         })
        //     }

        //     window.onload = function () {
        //             if (window.location.pathname.includes('factsheet')) {
        //                 let id_sheet = document.getElementsByClassName('container')[0].id;
        //                 let sheet_policy = id_sheet.split('-')[0];
        //                 let sheet_target = id_sheet.split('-')[1];

        //                 fetch('/target/' + sheet_policy).then(function (response) {
        //                     response.json().then(function (data) {
        //                         let optionHTML = ''; // Defining the options list
        //                         optionHTML += new_option(sheet_target); // Define first option
        //                         for (let target of data.targets) {
        //                             if (!(target === sheet_target)) {
        //                                 optionHTML += new_option(target);
        //                             }
        //                         }
        //                         target_select.innerHTML = optionHTML;
        //                     })
        //                 })
        //             }
        //         };

        //     policy_select.onchange = function(){
        //         change_target();
        //     };    
        
     </script>   
</body>
<footer class="footerCustom">
    <p>
        Environmental Policies Comparator - <a href="{{ url_for('contribution.contribute') }}">Contributor Space</a> - February 2020 - Alpha Version - <a href="https://yanndav.github.io/" target="_blank">Yann
            David</a>
    </p>
</footer>

</html>