<!--This is the homepage template-->
<!--Yann David | Last modified: 28.12-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- favicon -->
    <link rel="icon" href="../static/images/icone.svg">
    <!-- Webpage title -->
    {% block head %}
    <title>
        {% block title %}{% endblock %}Environmental Policies Comparator
    </title>
    {% endblock %}
    <meta name="viewport" content="width=device-width">

    <!-- Adding google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <!-- CSS link -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>


<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div id = 'snackbar' class="snackbar alert-{{ category }}">
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Personal Presentation Part -->
    <div class="background">
        <div id="#header" class="presentation">
            <h1 class="site">
                <a class="site" href="{{ url_for('main.index') }}">
                    <img src="../static/images/icone.svg" class="icon" alt="icon"> 
                    ENVIRONMENTAL POLICIES COMPARATOR
                </a>
            </h1>

            <p class="subtitle">
                Easy access to environmental policies impact evaluations meta-analyses
            </p>
            <form class="selectPolicy" method="POST">
                {{ selection.hidden_tag() }}
                <span class="itemSelect">The effect of </span>
                {% if selection.policy.errors %}
                {{ selection.policy(class="itemSelect selector")}}
                <div class="info-text fadeout error">
                    {% for error in selection.policy.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ selection.policy(class="itemSelect selector")}}
                {% endif %}
                <span class="itemSelect"> on </span>
                {% if selection.target.errors %}
                {{ selection.target(class="itemSelect selector")}}
                <div class="info-text fadeout error">
                    {% for error in selection.target.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ selection.target(class="itemSelect selector")}}
                {% endif %}                
                
                {{ selection.submit(class="info") }}
                 <span class="info-text fadeout general">Select a policy and a target to find the associated meta analysis</span>
        
        
            </form>
            <p class>
            </p>
            <ul class="networkLinks">
        
                <li><a href="{{ url_for('main.project', _anchor='head') }}">How does it work?</a></li>
        
                <li><a href="{{ url_for('main.project',_anchor='head') }}">Discover the project</a></li>
            </ul>
            
        </div>
    </div>
    {% block content %}
    {% endblock %}
 
     <script>
         let policy_select = document.getElementById('policy');
         let target_select = document.getElementById('target');
         let reset = document.getElementById('remove');

         function change_target() {
                policy = policy_select.value;
                fetch('/target/' + policy).then(function (response) {
                    response.json().then(function (data) {
                        let optionHTML = '';
                        for (let target of data.targets) {
                            optionHTML += '<option value="' + target + '">' + target + '</option>';
                        }

                        target_select.innerHTML = optionHTML;
                    })
                })
            }

            window.onload = function(){
                if (!(policy_select.value === "--policy--")){
                    change_target();
                }
            };

            policy_select.onchange = function(){
                change_target();
            };    
        
     </script>   
</body>
<footer class="footerCustom">
    <p>
        Environmental Policies Comparator - February 2020 - Alpha - <a href="https://yanndav.github.io/" target="_blank">Yann
            David</a>
    </p>
</footer>

</html>