<!--This file generates the contribution landing page template-->
<!--Yann David | Last modified: 28.12-->
{% extends "base.html" %}{% block title %} Contribute - {% endblock %}
{% block head %} 
{{ super() }}
{% endblock %}
{% block content %} 
<div class="jumbotron jumbotron-fluid">
  <div class = "container">
      <h1>Hello {{ current_user.name }} {{ current_user.surname }}.</h1>
      <legend class="border-bottom mb-4">Thanks for being a contributor!</legend>
  </div>
</div> 

<!-- Modification of posts -->
<div class="container mt-4">
  <div>
    <h2 class="mb-4 hContribute">Articles </h2>
    <button type="button" class="btn btn-primary buttonContribute">
      <a href="{{ url_for('contribution.new_article') }}">New</a>
    </button
    
  ></div>

  {% for article in userarticle %}
  <h4 class="titlePublication"><a href="{{ url_for('contribution.edit_article', article_id = article.id ) }}">{{ article.title }}</a></h4>
  {% endfor %}

  <h2>Fact-Sheets</h2>
  {% for sheet in usersheets %}
  <h4 class="titlePublication"><a href="{{ url_for('contribution.edit_fact_sheet', fact_id = sheet.id ) }}">{{ sheet.title }}</a></h4>
  {% endfor %}
</div>

{% endblock %}
