<!--This file generates Fact-Sheet Creation template-->
<!--Yann David | Last modified: 24.10-->
{% extends "base.html" %}{% block title %} Contribute - {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Hello {{ current_user.name }} {{ current_user.surname }}.</h1>
    <legend class="border-bottom mb-4">You can {{ legend }} the Policy-Target Sheet below</legend>
  </div>
</div>

<div class="container">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <!-- Title of the Fact-Sheet -->
      <div class="form-group">
        <h2>{{ title }}</h2>
      </div>
      <!-- Abstract -->
      <div class="form-group">
        {{ form.abstract.label(class="form-control-label") }}
        {% if form.abstract.errors %}
        {{ form.abstract(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.abstract.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.abstract(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <!-- Submit -->
      <div class="form-check container">
        {{ form.submit(class="form-check-input")}}
        {{ form.submit.label(class="form-check-label")}}
      </div>
      <!-- Publish -->
      <div class="form-check container">
        {{ form.publish(class="form-check-input")}}
        {{ form.publish.label(class="form-check-label")}}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.save(class="form-check-input") }}
    </div>
  </form>
</div>
{% endblock %}