<!--This is the homepage template-->
<!--Yann David | Last modified: 28.12-->
{% extends "base.html" %}
{% import "macro.html" as macro %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Hello {{ current_user.name }} {{ current_user.surname }}.</h1>
    <legend class="border-bottom mb-4">You can add an Article to the database here.</legend>
  </div>
</div>

<div class="container">
  <form id="author-form" method="POST" role="form">
    {{ form.hidden_tag() }}
    <fieldset>
      <!--General Article Informations -->
      <h3 class="sectionForm">General Information</h3>
      <!--Title -->
      <div class="formStyleAuthor">
        {{ form.title.label() }}
        {% if form.title.errors %}
        {{ form.title(class="is-invalid input-adjust") }}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.title(class="input-adjust") }}
        {% endif %}
      </div>
      <!-- Link -->
      <div class="formStyleAuthor">
        {{ form.link.label() }}
        {% if form.link.errors %}
        {{ form.link(class="is-invalid input-adjust") }}
        <div class="invalid-feedback">
          {% for error in form.link.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.link(class="input-adjust") }}
        {% endif %}
      </div>
      <!-- Journal -->
      <div class="formStyleAuthor">
        {{ form.journal.label() }}
        {% if form.journal.errors %}
        {{ form.journal(class="is-invalid input-adjust") }}
        <div class="invalid-feedback">
          {% for error in form.journal.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.journal(class="input-adjust") }}
        {% endif %}
      </div>
      <!-- Year -->
      <div class="formStyleAuthor endSection">
        {{ form.year.label() }}
        {% if form.year.errors %}
        {{ form.year(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.year.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.year() }}
        {% endif %}
      </div>
      <hr>
      <!-- Adding Authors Part -->
      <h3 class="sectionForm">Authors</h3>
      <div class="subforms-container" id="subforms-container">
          {% for subform in form.authors %}
            {{ macro.render_author_form(subform, loop.index0) }}
          {% endfor %}
        
        <!-- {% if form.authors.errors %}
        <ul class="invalid-feedback">
          {% for error_field, errors in form.errors.items() %}
            <li> <span>{{ error_field }}: {{ errors|join(', ') }}</span></li>
        {% endfor %}
        </ul>
        {% endif %} -->
      </div>
      <div>
        <a id="add" href="#">Add Author</a>
      </div>
    </fieldset>
    <div class="submitForm" type="submit">
      {{ form.submit(class="form-check-input") }}
    </div>
    {% if article_id %}
      <a class="button" href="{{ url_for('contribution.edit_policy_target', article_id=article_id) }}">Go to Results' Page</a>
    {% endif %}
  </form>
  {{ macro.render_author_form(_template, '_') }}



</div>


{% endblock %}