<!--This file generates the homepage template-->
<!--Yann David | Last modified: 24.10-->
{% extends "base.html" %}
{% block head %} 
{{ super() }}
{% endblock %}
{% block content %} 

<!-- Home Banner -->
<div class="bannerHome">
  <h1 class="bannerContent">Environmental Policies Comparator</h1>
  <p class="bannerContent bannerSubtitle">Easy access to academic knowledge about environmental policies!</p>
    <div class="container bannerContent">
      <input class="form-control searchBanner" type="text" placeholder="Select a Policy" aria-label="Search">
    </div>
</div>


<!-- Latest Publications -->
<div class="container">
  <div class="latest-topic">
    <h2>Latest Publications</h2>
  </div>
  <div class="allTopics">
    <div class="rowCard">
      {% for sheet in latest %}
      <div class="cardPublication">
        <img class="imagePublication" src="static/images/{{ sheet.picture }}" alt="Pollution">
      <h4 class="titlePublication">{{ sheet.title }}</h4>
      <div class="abstractPublication">
        <p>{{ sheet.abstract }}</p>
      </div>
    </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
