
{% macro render_author_form(subform, index) %}
{# Render author table-form.

  This macro is intended to render both regular author subforms (received from the
  server) and the template form used to dynamically add more forms.
  
  Arguments:
      - subform: Form object to render
      - index: Index of the form. For proper subforms rendered in the form loop,
               this should match `loop.index0`, and for the template it should be
               '_'
#}
<div id="authors-{{ index }}-form" class="{% if index != '_' %} subform {% else %} is-hidden {% endif %}" data-index="{{ index }}"> 
  {{ subform.hidden_tag() }}
  <h4>
    Author {{ index }}
  </h4>
  <button type="button" class="removeBtn btn btn-outline-danger">Remove</button>
  <div class="formStyleResult">
        {{ subform.firstname.label(class_="form-control-label") }}
        {% if subform.firstname.errors %}
        {{ subform.firstname(class_="input-adjust is-invalid") }}
        <div class="invalid-feedback">
          {% for error in subform.firstname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ subform.firstname(class_="input-adjust") }}
        {% endif %}
    </div>

    <div class="formStyleResult">
        {{ subform.surname.label(class_="form-control-label")  }}
        {% if subform.surname.errors %}
        {{ subform.surname(class_="input-adjust is-invalid") }}
        <div class="invalid-feedback">
          {% for error in subform.surname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ subform.surname(class_="input-adjust") }}
        {% endif %}
    </div>

    <div class="formStyleResult">
            {{ subform.email.label(class_="form-control-label") }}
            {% if subform.email.errors %}
            {{ subform.email(class_="input-adjust is-invalid") }}
            <div class="invalid-feedback">
              {% for error in subform.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ subform.email(class_="input-adjust") }}
            {% endif %}
    </div>
    <hr />
  </div>
{% endmacro %}

{% macro render_result_form(subform, index) %}
{# Renders result form.

  This macro is intended to render both regular results subforms (received from the
  server) and the template form used to dynamically add more forms.
  
  Arguments:
      - subform: Form object to render
      - index: Index of the form. For proper subforms rendered in the form loop,
               this should match `loop.index0`, and for the template it should be
               '_'
#}

<div id="list-{{ index }}-form" class="{% if index != '_' %} subform {% else %} is-hidden {% endif %}" data-index="{{ index }}"> 
  {{ subform.hidden_tag() }}
  <h4>
    {% set indexFin = index|int +1 %}
    Policy-Target {{ indexFin|string }}
  </h4>
  <button type="button" class="removeBtn btn btn-outline-danger">Remove</button>

  <h5>Policy and Target</h5>
  <div class="formStyleResult ">
        {{ subform.policy.label() }}
        {% if subform.policy.errors %}
        {{ subform.policy(class="input-adjust is-invalid") }}
        <div class="invalid-feedback">
          {% for error in subform.policy.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ subform.policy(class="input-adjust") }}
        {% endif %}
      </div>
        <div class="formStyleResult">
        {{ subform.policyUnit.label() }}
        {% if subform.policyUnit.errors %}
        {{ subform.policyUnit(class="input-adjust is-invalid") }}
        <div class="invalid-feedback">
          {% for error in subform.policyUnit.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ subform.policyUnit(class="input-adjust") }}
        {% endif %}
    </div>  

    <div class="formStyleResult">
        {{ subform.target.label()  }}
        {% if subform.target.errors %}
        {{ subform.target(class="input-adjust is-invalid") }}
        <div class="invalid-feedback">
          {% for error in subform.target.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ subform.target(class="input-adjust") }}
        {% endif %}
    </div>

    <div class="formStyleResult">
      {{ subform.targetUnit.label()  }}
      {% if subform.targetUnit.errors %}
      {{ subform.targetUnit(class="input-adjust is-invalid") }}
      <div class="invalid-feedback">
        {% for error in subform.targetUnit.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ subform.targetUnit(class="input-adjust") }}
      {% endif %}
    </div>

    <h5>Methodology and Program Details</h5>
    <div class="formStyleResult">
      {{ subform.method.label()  }}
      {% if subform.method.errors %}
      {{ subform.method(class="input-adjust is-invalid") }}
      <div class="invalid-feedback">
        {% for error in subform.method.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ subform.method(class="input-adjust") }}
      {% endif %}
    </div>

    <div class="formStyleResult">
      {{ subform.country.label()  }}
      {% if subform.country.errors %}
      {{ subform.country(class="input-adjust is-invalid") }}
      <div class="invalid-feedback">
        {% for error in subform.country.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ subform.country(class="input-adjust") }}
      {% endif %}
    </div>


    <div class="formStyleResult">
      {{ subform.year.label()  }}
      {% if subform.year.errors %}
      {{ subform.year(class="input-adjust is-invalid") }}
      <div class="invalid-feedback">
        {% for error in subform.year.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ subform.year(class="input-adjust") }}
      {% endif %}
    </div>

    <h5>Causal Effect</h5>
    <div class="formStyleResult">
      {{ subform.estimate.label()  }}
      {% if subform.estimate.errors %}
      {{ subform.estimate(class="input-adjust is-invalid") }}
      <div class="invalid-feedback">
        {% for error in subform.estimate.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ subform.estimate(class="input-adjust") }}
      {% endif %}
    </div>

    <div class="formStyleResult">
      {{ subform.standardError.label()  }}
      {% if subform.standardError.errors %}
      {{ subform.standardError(class="input-adjust is-invalid") }}
      <div class="invalid-feedback">
        {% for error in subform.standardError.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ subform.standardError(class="input-adjust") }}
      {% endif %}
    </div>

    <div class="formStyleResult">
      {{ subform.sampleSize.label()  }}
      {% if subform.sampleSize.errors %}
      {{ subform.sampleSize(class="input-adjust is-invalid") }}
      <div class="invalid-feedback">
        {% for error in subform.sampleSize.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ subform.sampleSize(class="input-adjust") }}
      {% endif %}
    </div>
    <hr />
</div>
{% endmacro %}