{# Render author table-form.

    This macro is intended to render both regular author subforms (received from the
    server) and the template form used to dynamically add more forms.
    
    Arguments:
        - subform: Form object to render
        - index: Index of the form. For proper subforms rendered in the form loop,
                 this should match `loop.index0`, and for the template it should be
                 '_'
#}
{% macro render_author_form(subform, index) %}
<div id="authors-{{ index }}-form" class="{% if index != '_' %} subform {% else %} is-hidden {% endif %} form-inline" data-index="{{ index }}"> 
  {{ subform.hidden_tag() }}
  <div class="form-group ">
        {{ subform.firstname.label(class_="form-control-label") }}
        {% if subform.firstname.errors %}
        {{ subform.firstname(class_="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in subform.firstname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ subform.firstname(class_="form-control form-control-lg") }}
        {% endif %}
    </div>

    <div class="form-group">
        {{ subform.surname.label(class_="form-control-label")  }}
        {% if subform.surname.errors %}
        {{ subform.surname(class_="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in subform.surname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ subform.surname(class_="form-control form-control-lg") }}
        {% endif %}
    </div>

    <div class="form-group">
            {{ subform.email.label(class_="form-control-label") }}
            {% if subform.email.errors %}
            {{ subform.email(class_="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in subform.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ subform.email(class_="form-control form-control-lg") }}
            {% endif %}
    </div>
    <button type="button" class="btn btn-outline-danger remove">Remove</button>
</div>
{% endmacro %}